# data since tools and eco systems

in this notebook , data since tools and ecosystems are summarized.

some of the popular languages that data scientist use are :
1. R
2. python
3. java

some of the commonly used libraries used by data scientists include 
1. library 1
2. library 2
3. library 3

| Data science tools |
|---------------|
| ANACONDA |
| VS CODE |
| JUPTEER |

### Below are a few examples of evaluating arithmaetic expression in python

In [1]:
(3*4)+5

17

In [4]:
# this will convert 200 minutes to hours by diving by 60
mins = 200
hours = mins/60
print (hours)

3.3333333333333335

**objectives:**
- unorder list 1
- 2
-

## Author
MHD Rabie Jamal Eddin